body {
	margin: 0;
	color: #000;
	min-width: 770px;
	background: #00FFFF;
	font: 10px verdana, helvetica, sans-serif;
	}

#content {
	width: 100%;
	margin: 0 auto;	
}


#content h1, #content h2{
	color: green;
	font: 24px verdana, helvetica, sans-serif;
	font-weight: bold;
	margin: 0 auto;
}
p.nav2, p.nav3{

	font: 14px verdana, helvetica, sans-serif;
}



